default_language_version:
  python: python3.11

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "dev"]
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-symlinks
      - id: check-yaml
        exclude: "charts/paradedb-cluster/" # Exclude all files in the charts/paradedb-cluster/ directory, which aren't standard YAML
      - id: check-json
      - id: check-xml
      - id: check-ast
      - id: check-toml
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-vcs-permalinks
      - id: detect-private-key
      - id: detect-aws-credentials
      - id: debug-statements
      - id: destroyed-symlinks
      - id: fix-encoding-pragma
      - id: fix-byte-order-marker
      - id: requirements-txt-fixer

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
        exclude: "charts/paradedb-cluster/" # Exclude all files in the charts/paradedb-cluster/ directory, which aren't standard YAML
