{{- if and .Values.backups.enabled (eq .Values.backups.provider "azure") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster.fullname" . }}-backup-azure-creds
data:
  AZURE_CONNECTION_STRING: {{ .Values.backups.azure.connectionString | b64enc | quote }}
  AZURE_STORAGE_ACCOUNT: {{ .Values.backups.azure.storageAccount | b64enc | quote }}
  AZURE_STORAGE_KEY: {{ .Values.backups.azure.storageKey | b64enc | quote }}
  AZURE_STORAGE_SAS_TOKEN: {{ .Values.backups.azure.storageSasToken | b64enc | quote }}
{{- end }}
