{{- if and .Values.backups.enabled (eq .Values.backups.provider "google") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster.fullname" . }}-backup-google-creds
data:
  APPLICATION_CREDENTIALS: {{ .Values.backups.google.applicationCredentials | b64enc | quote }}
{{- end }}
