{{- if and (eq .Values.mode "recovery" ) (eq .Values.recovery.method "object_store") (eq .Values.recovery.provider "google") (empty .Values.recovery.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster.fullname" . }}-backup-google-recovery-creds
data:
  APPLICATION_CREDENTIALS: {{ .Values.recovery.google.applicationCredentials | b64enc | quote }}
{{- end }}