name: tests-operator

on:
  pull_request:
    branches-ignore:
      - "gh-pages"

jobs:
  deploy_operator:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: Setup kind
        uses: ./.github/actions/setup-kind

      - name: Deploy the operator
        uses: ./.github/actions/deploy-operator

      - name: Deploy a cluster
        run: |
          cat <<EOF | kubectl apply -f -
          # Example of PostgreSQL cluster
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            name: cluster-example
          spec:
            instances: 3
            storage:
             size: 1Gi
          EOF

      - name: Verify that the cluster is ready
        uses: ./.github/actions/verify-cluster-ready
        with:
          cluster-name: cluster-example
          ready-instances: 3
